.index {
    .nav-bar {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;

        .logo {
            width: 6rem;
            height: 6rem;
            background-color: $lightpurple;

            img {
                padding: 1.875rem;
            }

            &:hover {
                background-color: $darkerlightpurple;
            }
        }
    }

    h1 {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    h4 {
        width: 25rem;
        margin-bottom: 4.25rem;
        background: linear-gradient(90deg, $secondary 0%, $primary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .features {
        margin-bottom: 3.25rem;

        .feature {
            display: grid;
            grid-template-columns: 2.25rem 1fr;
            grid-gap: 1.5rem;
            .img {
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 0.5rem;
                background-color: $lightpurple;

                img {
                    padding: 0.5625rem;
                    object-fit: contain;
                }

                &:hover {
                    background-color: $darkerlightpurple;
                }
            }
            p {
                margin-bottom: 1rem;
                width: 20rem;
            }
        }
    }

    .outer-search-container {
        display: grid;
        grid-template-columns: 22.5rem 1fr;
        grid-gap: 1.5rem;

        .inner-search-container {
            display: grid;
            grid-template-columns: 15rem 7.5rem;
    
            input {
                border-radius: 0.625rem 0 0 0.625rem;
                padding: 1rem;
            }
    
            .search-btn {
                border-radius: 0 0.625rem 0.625rem 0;
            }
        }

        .home-btn {
            border-radius: 0.625rem;
            width: 4rem;
            height: 4rem;

            .img {
                width: 2rem;
                height: 2rem;
                margin: 0 auto;
            }
        }
    }
}