.viewer-page {
    display: grid;
    grid-template-columns: 1fr 6.2fr 6fr;
    justify-content: space-between;

    .nav-bar {
        display: grid;
        justify-items: space-between;

        .img {
            z-index: 100;
            width: 2rem;
            height: 2rem;
            margin: 2.5rem auto 0;

            &:hover {
                cursor: pointer;
            }
        }

        .img-user {
            margin-top: 2rem;
            width: 3rem;
            height: 3rem;
            align-self: flex-end;
        }

        .img-leave {
            margin-top: 8rem;
        }

        #viewerCanvas {
            width: 100vh;
            height: 100vh;
        }
    }

    .book-fullinfo {
        .info-header {
            display: flex;
            justify-content: space-between;
        }
        
        .info-main {
            display: grid;
            grid-template-columns: 12rem 1fr;
            grid-gap: 1rem;

            .img {
                width: 12rem;
                height: 17rem;
                
                img {
                    border-radius: 1rem;    
                    object-fit: cover;
                }
            }

            div {
                .info-title {
                    font-size: 15px;
                    margin-bottom: 0.3125rem;
                }

                .info-author {
                    margin-bottom: 0.875rem;
                }

                .info-stats {
                    display: grid;
                    grid-template-columns: 1fr 1px 1fr 1px 1fr;
                    grid-gap: 1px;
                    padding: 0.625rem 1.625rem;
                    font-size: 15px;
                    border-radius: 5px;
                    justify-items: center;
                    p {
                        margin-bottom: 0;
                    }
                }
                .info-desc {
                    overflow-y: auto;
                    height: 8.5rem;
    
                    &::-webkit-scrollbar { 
                            display: none;  /* Safari and Chrome */
                    }
                }
            }
        }

        .info-more {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            p {
                margin-bottom: 0;
            }

            p:first-child {
                font-weight: 700;
                font-size: 14px;
            }

            p:not(:first-child) {
                color: $lightergrey;
                font-size: 12px;
            }
        }
    }

    .cursor {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s cubic-bezier(0.17, 0.93, 0.38, 1);
    }

    #cursors-container {
        z-index: -100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .chat-room {
        .who_is_here {
            text-align: right;
        }

        #todos_container {
            .todo_container {
                display: flex;
                justify-content: space-between;
                margin: .8rem 0;

                button {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}