//Variable Overrides
$primary: #E75B62;
$secondary: #4B67B4;
$success: #33CA7F;
$danger: #EF6461;
$warning: #FF8247;
$info: #62B6CB;
$light: #FFFFFF;
$dark: #1C1C1C;
$lightpurple: #F0F5FF;
$darkerlightpurple: #EBF1FF;
$grey: #6C757D;
$lightergrey: #86898D;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "lightpurple": $lightpurple,
    "darkerlightpurple" :$darkerlightpurple,
    "grey": $grey,
    "lightergrey": $lightergrey
);

// Import bootstrap and Google Fonts
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    &:hover {
        filter: brightness(125%);
    }
}

.container {
    padding: 3.25rem 0.5rem 11.5rem;
}

.modal-lg {
    max-width: 1024px;
}

.btn-primary {
    border-color: transparent;
}

// Import Partial Files
@import "pages-elements/index";
@import "pages-elements/book";
@import "pages-elements/viewer";

.viewer-page {
    display: grid;
    grid-template-columns: 1fr 6.2fr 6fr;
    justify-content: space-between;

    .nav-bar {
        display: grid;
        justify-items: space-between;

        .img {
            z-index: 100;
            width: 2rem;
            height: 2rem;
            margin: 2.5rem auto 0;

            &:hover {
                cursor: pointer;
            }
        }

        .img-user {
            margin-top: 2rem;
            width: 3rem;
            height: 3rem;
            align-self: flex-end;
        }

        .img-leave {
            margin-top: 8rem;
        }

        #viewerCanvas {
            width: 100vh;
            height: 100vh;
        }
    }

    .book-fullinfo {
        .info-header {
            display: flex;
            justify-content: space-between;
        }
        
        .info-main {
            display: grid;
            grid-template-columns: 12rem 1fr;
            grid-gap: 1rem;

            .img {
                width: 12rem;
                height: 17rem;
                
                img {
                    border-radius: 1rem;    
                    object-fit: cover;
                }
            }

            div {
                .info-title {
                    font-size: 15px;
                    margin-bottom: 0.3125rem;
                }

                .info-author {
                    margin-bottom: 0.875rem;
                }

                .info-stats {
                    display: grid;
                    grid-template-columns: 1fr 1px 1fr 1px 1fr;
                    grid-gap: 1px;
                    padding: 0.625rem 1.625rem;
                    font-size: 15px;
                    border-radius: 5px;
                    justify-items: center;
                    p {
                        margin-bottom: 0;
                    }
                }
                .info-desc {
                    overflow-y: auto;
                    height: 8.5rem;
    
                    &::-webkit-scrollbar { 
                            display: none;  /* Safari and Chrome */
                    }
                }
            }
        }

        .info-more {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            p {
                margin-bottom: 0;
            }

            p:first-child {
                font-weight: 700;
                font-size: 14px;
            }

            p:not(:first-child) {
                color: $lightergrey;
                font-size: 12px;
            }
        }
    }

    .cursor {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s cubic-bezier(0.17, 0.93, 0.38, 1);
    }

    #cursors-container {
        z-index: -100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}