//Variable Overrides
$primary: #E75B62;
$secondary: #4B67B4;
$success: #33CA7F;
$danger: #EF6461;
$warning: #FF8247;
$info: #62B6CB;
$light: #FFFFFF;
$dark: #1C1C1C;
$lightpurple: #F0F5FF;
$darkerlightpurple: #EBF1FF;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "lightpurple": $lightpurple,
    "darkerlightpurple" :$darkerlightpurple
);

// Include Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding: 3.25rem 0.5rem 11.5rem;
}

// Import Partial Files
@import "pages/index";

.list-book {
    grid-template-columns: 1fr 1fr;
    padding: 32px 16px;
    width: 100%;
  }
  
.book {
    display: flex;
    margin: 16px;
    padding: 32px;
    border-radius: 32px;
    flex: 1;

    .book-info {
        .book-title {
            
        }
    }
}